<div class="container-fluid">
    <div class="row">
        <div class="col pd0">
            <img class="width-100 " src="../../assets/images/footer_image.jpg" alt="">
        </div>
    </div>

    
    <div class="row bg-black">
        <div class="col">
                <div class="container">
                           <div class="row">
                               <div class="col width-full">
                                <a routerLink=""><img class="width-100" src="../../assets/images/perth_astute_logo_title_footer.png" alt="Astute Global Digital Wings"></a>
                                <br /><br />
                                <!-- <p class="live" title="Live Users Counts"><i class="fa fa-users"></i> <span>123</span></p>
                                <p class="hits" title="Visited Users Counts"><i class="fa fa-globe"></i> <span id="sfc9npg75bd4y7ztnqc556mdsdkdrxkdcc8"></span></p>
                                <p class="contact" title="Contact Users with US"><i class="fa fa-id-card"></i> <span>123</span></p>
                                -->

                            </div>
                               <div class="col width-full">
                                   <h5>Services</h5>
                                   <ul class="list-no-style">
                                       <li><a routerLink="solution/">Data Digitization and Services</a></li>
                                       <li><a routerLink="creditriskmgt/">Credit and Risk Management</a></li>
                                       <li><a routerLink="debtcollectionservice">Debt Collection Service</a></li>
                                       <li><a routerLink="backofficeservice">Back Office Services</a></li>
                                       <li><a routerLink="audits">Audits</a></li>
                                   </ul>
                                </div>
                                <div class="col width-full">
                                        <h5>Industry</h5>
                                        <ul class="list-no-style">
                                            <li><a routerLink="industries/">Publishing</a></li>
                                            <li><a routerLink="infotech/">Information Technology</a></li>
                                            <li><a routerLink="bankfinanceservice/">Banking Financial Services</a></li>
                                            <li><a routerLink="eduservice/">Educational Services</a></li>
                                            
                                        </ul>
                                    </div>
                                    <div class="col width-full">
                                            <h5>Contact Us</h5>
                                            <ul class="list-no-style">
                                            <li>D-37 & D-22, Ground Floor,<br />
                                                    South Extension Part-1,<br />
                                                    New Delhi, Pincode: 110 049<br />
                                                    India</li></ul>
                                                    <br />
                                            <a class="links" routerLink="contactus/"><button class="btn btn-primary" >Contact</button></a>
                                        </div>
                           </div>
                       </div>       
        </div>
    </div>
    <div class="row bg-dark">
        <div class="col top-padding">
            <div class="container">
                <div class="row">
                    <div class="col">
                            <button (click)="movetop()" class="top-page float-right">^</button>
                        <p class="text-center">Copyright © Astute Aunlimited Inside India Pvt. Ltd. 2019 </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    