<div class="container">
    <div class="row">
        <div class="col">
            <h3>Audits</h3>
            <p>We've been conducting audits since our start–both once and continuing. Astute Group's wide range of audits include stock audits, securitization audits, hind spotting audits, performance audits, invoice audits, collection audits, and audits of the franchisee / business partner. Such inspections are conducted by professional teams, so rest assured that your company is in the safest hands.</p>
            <p>Here are the details of the audits:</p>
            <div class="container">
                    <div class="row">
                        <div class="col-4"><img src="../../assets/images/hind-sighting.jpg" alt="">
                        <div>
                            <h4>Hind sighting Audit</h4>
                            <p>Hind sighting is a health check of the disbursed files at a centralized level and location. While a file is disbursed through a specified protocol and various procedures are performed before disbursement occurs, an independent review on different parameters provides a complete insight into how a location / branch is performing in terms of policy and method.</p>
                        </div></div>
                        <div class="col-4"><img src="../../assets/images/securitization-audit.jpg" alt="">
                        <div>
                            <h4>Securitization Audit</h4>
                            <p>Securitization review is conducted to determine the quality of the securitized portfolio. Most banks securitise portfolios from various NBFCs and MFIs across India on a regular basis to either develop their books or reach PSL targets. With the wide-spread geographic reach of Astute, they ensure that timely audits and reports are submitted to enable accurate and informed decisions.</p>
                        </div>
                        </div>
                        <div class="col-4"><img src="../../assets/images/inventory-audits.jpg" alt="">
                            <div>
                                <h4>Inventory Audits</h4>
                                <p>Inventory and Exchange advance reviews are conducted to assess stock availability against funding. On the basis of the funding limits provided to a particular entity, the periodicity of inventory audits is determined.</p>
                            </div></div>
                    </div>
                    <div class="row">
                            <div class="col-4"><img src="../../assets/images/stock-yard-audits.jpg" alt="">
                                <div>
                                    <h4>Stock Yard Audits</h4>
                                    <p>Stock yard audits are performed regularly against the available inventory list to check inventory and stock at a particular stock yard. They provide insight into the accuracy of internal team reporting as well as yards where stock, goods and vehicles are parked. There are many instances where the stock condition is deteriorating due to insufficient attention. Astute's daily audits.</p>
                                </div></div>
                            <div class="col-4"><img src="../../assets/images/branch-audits.jpg" alt="">
                                <div>
                                    <h4>Branch Audits</h4>
                                    <p>Branch audits are ways to check and assess compliance with the organization's procedures and policies. These are annual audits conducted at different locations with the intention of ensuring that process controls are in place and being closely pursued by locations / area offices. Astute allows companies to classify (if any) with branch reviews and to take corrective action from time to time.</p>
                                </div></div>
                            <div class="col-4"><img src="../../assets/images/kyc-audits.jpg" alt="">
                                <div>
                                    <h4>KYC Audits</h4>
                                    <p>KYC standards have changed significantly and are becoming more strict. RBI and NHB attach great importance to receiving, preserving and constantly updating approved KYC documents for all types of customers. We are experienced in checking KYC documentation of banks / financial institutions' current and historical customers where the volume of documents is high. KYC audits are conducted on the parameters set.</p>
                                </div></div>
                        </div>
                        <div class="row">
                                <div class="col-4"><img src="../../assets/images/franchisee-agency-audits.jpg" alt="">
                                    <div>
                                        <h4>Franchisee / Agency Audits</h4>
                                        <p>Different business models are practiced at different levels, depending on the nature of the sector. While it is important to have the right processes in place, ensuring that the processes are being properly followed is equally important. Franchisee inspections help a lot to achieve standard service standards and hygiene in different locations in order to determine the same and ensure uniformity.</p>
                                    </div></div>
                                    </div>
                </div>
        </div>
    </div>
</div>
