<div class="container">
    <div class="row">
        <div class="col">
            <h3>Back Office Services</h3>
            <p>We collect, search and process data from surveys, reports and forms for our customers as India's leading software and report processing center. Astute Group operates back office operations such as paper storage and mailroom facilities. Our high-quality data scanners process and arrange all types of documents and information, reducing manual error chances.</p>
            <p>We have been storing information and documents for different customers since 2005. It includes the benefits–high performance, decreased mistakes, cost savings. The information reliability and productivity of the entire process, regardless of the scale, have been managed by back offices for different industries.</p>
            <p>We offer end to end back office services. These include:</p>
            <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <img src="../../assets/images/dd-image.jpg" alt="">
                        <div>
                            <h4>Data Digitization</h4>
                            <p>Automatic data storage and information processing help businesses remain competitive with the market environment's challenges. It is possible to process and organize a large volume of data. We offer end-to-end services to banking, telecommunications and insurance industries as India's oldest information processing company.</p>
                        </div>
                    </div>
                        <div class="col-6"><img src="../../assets/images/app-processing.jpg" alt="">
                        <div>
                            <h4>Application Processing</h4>
                            <p>Loan files for various products such as home loans, property loans, commercial loans and vehicle loans can be collected from centralized or distributed locations. Telecom customers' applications and KYC documents can be handled in a decentralized / centralized system.</p>
                        </div>
                        </div>
                        
                    </div>
                    <div class="row">
                            <div class="col-6"><img src="../../assets/images/scannig.jpg" alt="">
                                <div>
                                    <h4>Scanning</h4>
                                    <p>Our hybrid scanners search documents of different sizes and types. You can scan and digitize a large number of documents. We have the ability to scan documents of the size A0 to A4. Using the latest technology, we scan and digitize documents to make sure the print and display value is the best you can get.</p>
                                </div>
                                </div>
                        <div class="col-6"><img src="../../assets/images/manpower.jpg" alt="">
                            <div>
                                <h4>Manpower support</h4>
                                <p>For their non-core tasks or operations, we provide versatile and competent manpower service that is necessary but sometimes needed. Each month, year after year, we manage a huge number of documents. Large volume payments are managed efficiently with the same value across all documents. Thanks to our deep knowledge of manufacturing and legislation, combining on-shore and off-shore models, our products vary from others.</p>
                            </div></div>
                            </div>
                </div>
        </div>
    </div>
</div>
