<div class="container">
    <div class="row">
        <div class="col">
<h3>Credit and Risk Management</h3>
<p>Companies have become obliged to minimize risk and boost profitability by carrying out a background check on the financial record of a candidate before approving a loan. As a credit and risk management agency, Astute Group helps businesses better assess risk and make informed decisions by offering credit facilities.</p>
<p>Credit and Risk management services offered by Astute include:</p>
<div class="container">
    <div class="row">
        <div class="col-4"><img src="../../assets/images/field-image.jpg" alt="">
        <div>
            <h4>Field Investigations</h4>
            <p>Information provided by customers such as contact point verification or asset verification are profiled and cross-checked. An integral part of this operation is tele-verification, database search and reference test. In the retail market, where sales are high and processing time is short, field investigations are used–requiring rapid response and agile solutions.</p>
        </div></div>
        <div class="col-4"><img src="../../assets/images/isdv-image.jpg" alt="">
        <div>
            <h4>Intelligent Sampling & Document Verifications</h4>
            <p>Verification and cross-checking of various mandatory records such as income documents, tax reports, financial statements, bank accounts, KYC documents and customer-provided property documents.</p>
        </div>
        </div>
        <div class="col-4"><img src="../../assets/images/pec-image.jpg" alt="">
            <div>
                <h4>Pre-employment Checks</h4>
                <p>Pre job confirmation is an integral part of company-wide hiring process. We review the applicants' complete details before / after hiring, including previous job searches, current and permanent residence, neighbor reference and negative list. For each class and grade of staff, pre-employment reviews are carried out.</p>
            </div></div>
    </div>
    <div class="row">
            <div class="col-4"><img src="../../assets/images/vv-image.jpg" alt="">
                <div>
                    <h4>Vendor Vetting</h4>
                    <p>To ensure the integrity of the vendor, we perform screening test. This product can be used by any company looking to start new business with another company. It helps businesses to know much better about their potential business partner.</p>
                </div></div>
            <div class="col-4"><img src="../../assets/images/pi-image.jpg" alt="">
                <div>
                    <h4>Personal Interview / Personal Discussion</h4>
                    <p>Until granting credit facility, banks visit their customers on their premises. This is done to obtain the customer’s report on the details as per applicable formats (which differ between products and principals).</p>
                </div></div>
            <div class="col-4"><img src="../../assets/images/bpr-image.jpg" alt="">
                <div>
                    <h4>Business Profile Reports</h4>
                    <p>Astute has developed this product for financial services organizations granting credit facility to SME sector. To make a better decision, a detailed customer business report is produced for the credit assessment system. The report includes an entity's basic profile, financials, negative data tracking, trend analysis of industry. The report's section on Adverse Data Monitoring addresses both legal aspects and compulsory enforcement.</p>
                </div></div>
        </div>
</div>
</div>
</div>
</div>