<div class="container-fluid">
  <div class="row">
    <div class="col banner"></div>
  </div>
</div>
<div class="container border-bottom">
    <div class="row">
        <div class="col">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink=""><img class="width-80" src="../../assets/images/perth_logo.png" alt=""></a> <span class="logo-text"><a class="navbar-brand" routerLink="">Astute Aunlimited <br />Inside India Pvt. Ltd.<br /><span class="tag-line">adding digital wings to your content....</span></a></span>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto navbar-right">
        
        <li class="nav-item dropdown" routerLinkActive="active">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                SERVICES
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/solution">Data Digitization and Services</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/creditriskmgt">Credit & Risk Management</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/debtcollectionservice">Debt Collection Service</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/backofficeservice">Back Office Service</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/audits">Audits</a>
            </div>
          </li>
 <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="industries">
            INDUSTRIES
          </a>
          <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="industries">Publishing</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="infotech">Information Technology</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="bankfinanceservice">Banking Financial Services</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="eduservice">Educational Services</a>
          </div> -->
        </li>
        
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/aboutus">ABOUT US</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/contactus">CONTACT US</a>
          </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>





</div>
</div>
</div>

