<div class="container">
    <div class="row">
        <div class="col">
            <h3>About Us</h3>
<p>Founded in 1997 by a team of experienced professionals, Astute Group is now an organization of 2,600 + members of the team. Based on strong ethical ethics, customer satisfaction and high-quality service, our system has a matchless reputation for establishing long-term relationships with our customers. Our trademark is being a one-stop-hub for performing verification, collections, back office support services, contact center, audits and everything in between.
</p>
<br />
<div class="container mission border-top border-bottom">
    <div class="row">
        <div class="col">
            <img class="img" src="../../assets/images/vision.png" alt=""><br />
            <p>Be Together, Work Together and Grow Together is our ethical to deliver high quality work with continual improvement and provide the services and products with just a full package of Digital Wings.</p>
        </div>
        <div class="col">
            <img class="img" src="../../assets/images/mission.png" alt=""><br />
            <p>Our goal of understanding our client's needs and providing solutions to problems and services with outstanding knowledge and technical skills. Our group is striving hard to provide client with excellence and price-effective services.</p>
        </div>
        <div class="col">
            <img class="img" src="../../assets/images/values.png" alt=""><br />
            <p>Trustworthiness, confidence in consumer dedication for continuous learning as well as continuous quality improvement with teamwork efforts.
            </p>
        </div>
    </div>
</div><br />
<h3>Services</h3>
<ul>
<li>Data Digitization and Services</li>
<li>Credit &amp; Risk Management</li>
<li>Debt Collection Service</li>
<li>Back Office Service</li>
<li>Audits</li>
<li>Contact Center</li></ul>
<h3>Perth Group <a class="text-small" href="https://www.perthgroupindia.com">www.perthgroupindia.com</a> </h3>


<table class="table border-bottom">
        
    <thead>
            <tr>
                    <th>Company</th>
                    <th>Industries</th>
                </tr>
        
    </thead>
    <tbody>
        <tr>
            <td>Astute Onetouch Pvt Ltd</td>
            <td>Banking &amp; Finance Risk Management Service</td>
        </tr>
        <!-- <tr>
                <td>Astute Global Digital Wings</td>
                <td>Digital Publishing</td>
            </tr> -->
            <tr>
                    <td>Astute Aunlimited Inside India Pvt Ltd</td>
                    <td>Data Digitization, Publishing &amp; Call Center Services</td>
                </tr>
        <tr>
            <td>Conversion Inc</td>
            <td>BPO Services</td>
        </tr>
        <!-- <tr>
            <td>Recon Asset Portfolio Management Pvt Ltd</td>
            <td>Ausit &amp; Compliance Process orientation and mystery shopping</td>
        </tr> -->
        
        <tr>
            <td>Wontouch Foundation</td>
            <td>Family Health Care for NRI &amp; Medical Innovation</td>
        </tr>
        <tr>
            <td>Luminup Ledlite India Pvt Ltd</td>
            <td>Manufacturer of LED Product</td>
        </tr>
        <tr>
            <td>Daya Sumitra Education Trust</td>
            <td>For CSR Funding</td>
        </tr>
        <tr>
            <td>Astute International</td>
            <td>Cargo Services (Across the Country)</td>
        </tr>
    </tbody></table>


<!-- <h3>Astute Group</h3>
<ul>
<li>Astute Corporate Services Private Limited</li>
<li>Astute Remedial Services India Private Limited</li>
<li>Astute Management Solutions and Services Private Limited</li>
</ul> -->
<h3>Our Presence and Advantages Of Working With Us</h3>

<p>Astute's main reason for phenomenally scaling up is our ability to reach any area and pursue projects of any scale. Our corporate office is in Pune, where the business team works. They run 150 sub-offices across 14 operating hubs and cover 800 + locations.
</p>
<div class="container">
    <div class="row">
        <div class="col-2"> <img src="../../assets/images/oneroof.png" alt=""> </div>
        <div class="col-10"><h5>Multiple Services Under One Roof</h5>

            <p>We have been a network provider since 2005. Because of our commitment, perseverance and hard work, the transition from service providers to web platform was possible. Astute is assisted by a strong team of 2,500 experienced and skilled members of the team. We are a one-stop destination for back office activity aid for verifications, audit lists, accounting, contact center, credit confirmation and banking services. We eliminate the problems of dealing with multiple teams as a customer you have to deal with one point of contact.</p></div>
    </div>
    <div class="row">
        <div class="col-2"> <img src="../../assets/images/geog.png" alt=""> </div>
        <div class="col-10"><h5>Widespread Geographical Coverage</h5>

            <p>In terms of broad regional scope, they are regarded as precursors. Having visited more than 800 locations across India, we have the technical know-how to undertake multi-scale projects. Supplemented by a strong team of professionals from the industry with over a decade of experience, Astute helps clients hit milestones. We solve the fundamental problem of providing services to different geographical locations. Astute OneTouch has the right manpower and technology to perform multi-size operations with a presence in every state and in the remote location.
</p></div>
    </div>
    <div class="row">
        <div class="col-2"> <img src="../../assets/images/tech1.png" alt=""> </div>
        <div class="col-10"><h5>Technology Friendly to Fit Diverse Requirements</h5>

            <p>As technocrats, they introduce state-of - the-art technology for project execution. This eliminates manual errors and increases the project's speed. In fact, the quality of service remains constant regardless of the size of the task, this can be accomplished by accepting the right skill. We have versatile, customer-based solutions. We create tailored solutions based on the timelines, business goals and organizational size.
</p></div>
    </div>
   
    <div class="row">
        <div class="col-2"> <img src="../../assets/images/relation.png" alt=""> </div>
        <div class="col-10"><h5>Long Lasting Client Relationship</h5>

            <p>Customer relationship is the vital component in today's hypercompetitive marketplace to maintain and acquire new companies. After our inception in 2005, we have been affiliated with some customers and most of our business comes from references. At every stage of the project, customer satisfaction is given utmost importance. Astute strategies allow businesses to work better and more effectively with a strong belief in building positive long-term relationships for both ends.</p></div>
    </div>
    <div class="row">
        <div class="col-2"> <img src="../../assets/images/exper.png" alt=""> </div>
        <div class="col-10"><h5>Experience and Reliability</h5>

            <p>Since 1999, our expertise is unmatched in this industry. We offer services to 50 + loyal customers, and our robust quality control processes have made us the most trustworthy players in the industry.
</p></div>
    </div>
    <div class="row">
        <div class="col text-center">
            <br />
            <h3><u>Our Leaders</u></h3>
            <br />
        </div>
    </div>
    <div class="row leaders">
        <div class="col"></div>
        <div class="col text-center">
            <img src="../../assets/images/ak_pandey.jpg" alt="">
            <p><b>Mr. A K Pandey</b><br />Group Chairman</p>
        </div>
        <div class="col text-center">
            <img src="../../assets/images/alok_prasad.png" alt="">
            <p><b>Dr. Alok Prasad</b><br />Managing Director</p>
        </div>
        <div class="col text-center">
            <img src="../../assets/images/vijat_tiwari.jpg" alt="">
            <p><b>Dr. Vijay Tiwari</b><br />Promoter and Patron
                 </p>
        </div>
        <div class="col text-center">
        <img src="../../assets/images/ganesh_bysack.png" alt="">
            <p><b>Ganesh Bysack</b><br />CEO</p>
    </div>
    <div class="col"></div>
    </div>
</div>













</div>
</div>
</div>