<div class="container">
        <div class="row">
            <div class="col">
<div class="container">
    <div class="row">
        <div class="col-6"> <img src="../../assets/images/a1.jpg" alt="Banking Financial Services"> </div>
        <div class="col-6">
                <div><h3>Banking Financial Services</h3>
                    <p>We are pioneers in the fields of Risk Managemnt, RCU, FCU, Profile Testing, Data Checking and other finance, NBFC, Insurance and other financial services.</p>
                    </div>
        </div>
    </div>
</div>
               </div></div></div>
