<div class="container">
        <div class="row">
            <div class="col padding">
<div class="container">
    <div class="row">
        <div class="col-6 no-padding no-desk"><img src="../../assets/images/a2.jpg" alt=""></div>
    </div>
    <div class="row">
        <div class="col-6"><div><h3>Information Technology</h3>
            <p>In the retail banking sector, we have more than 4 billion info. Astute makes it easier for its members to review online data.</p>
        </div> </div>
        <div class="col-6 no-mobile"> <img src="../../assets/images/a2.jpg" alt=""> </div>
        
        
    </div>
</div>
                 </div></div></div>