.col-6 img{
    width:100% !important;
    -webkit-filter: brightness(170%); /* Safari 6.0 - 9.0 */
    -moz-filter: brightness(170%);
    -ms-filter: brightness(170%);
    filter: brightness(170%);
}

/* .col-6 + .col-6{
    
} */

.padding{
    padding-top:15px;
    padding-bottom: 15px;
}

.row .col-6:first-child + .col-6{
    padding-right:0 !important;
    padding-left: 0;
}

.row .col-6:first-child{
    background: #cccccc;
    padding-top: 15px;
    border-right: solid 15px #ffffff;
    align-items: center;
    display: flex;
    text-align: center;
}

.row .col-6:first-child h3 + p{
    display: block !important;
}


.row .col-6.no-padding:first-child{
    padding: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;

}

.col-6.no-padding.no-desk{
    display: none !important;
}

@media screen and (max-width:480px){
    .row .col-6.no-mobile{
        display: none !important
    }
    .row .col-6:first-child{
        flex: 0 0 100%;
        max-width: 100%;
        display: block;
        border-right: 0 !important;
        }

        .row .col-6:first-child + .col-6{
            flex: 0 0 100%;
            max-width: 100%;
            display: block; 
        }

      .col-6.no-padding.no-desk{
          display: block !important;
      }  
}