<div class="container">
        <div class="row">
            <div class="col padding">
                    <div class="container">
                        <div class="row">
                                <div class="col-6 no-padding no-desk">
                                        <img src="../../assets/images/education.jpg" alt=""> 
            </div>
                        </div>
                            <div class="row">
                                <div class="col-6"> <div>
                                    <h3>Education Services</h3>

                                    <p>We are committed to providing the banking and financial industry with a performance professional. We provide advanced training and development facilities for professionals and students.</p>
                        
                                </div> </div>
                                <div class="col-6 no-mobile">
                                    <img src="../../assets/images/education.jpg" alt=""> 
        </div></div></div>