<div class="container" id="services">
    <div class="row">
        <div class="col">
                <h3>Data Digitization and Services</h3>
                <p>Automatic data processing and information processing help companies stay competitive with the challenges of the business environment. Large volume of data can be processed and organized. As India’s oldest documents processing company, we provide end to end services to finance, telecom and insurance industries.</p>
                <h3>Our Services</h3>
                <!-- 
                <ul>
                    
                <li>Data Entry and Data Processing</li>
                <li>Data Mining Services          </li>
                <li>Data/Content Enrichment       </li>
                <li>Content Authoring on platform </li>
                <li>Accessibility Services        </li>
                <li>Scanning and Imaging          </li>
                <li>Website development           </li>
                <li>UI/UX Support                 </li>
                
                </ul>
                 -->



                <div class="row">
                    <div class="col pb2">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                              <a class="nav-link active" id="ites-tab" data-toggle="tab" href="#ites" role="tab" aria-controls="ites"
                                          aria-selected="true">Data Entry and Data Processing</a>
                                </li>
                            <li class="nav-item">
                              <a class="nav-link" id="automobile-tab" data-toggle="tab" href="#automobile" role="tab" aria-controls="automobile"
                                aria-selected="false">Data Mining Services</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="banking-tab" data-toggle="tab" href="#banking" role="tab" aria-controls="banking"
                                aria-selected="false">Data/Content Enrichment</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="housing-tab" data-toggle="tab" href="#housing" role="tab" aria-controls="housing"
                                aria-selected="false">Content Authoring on platform</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="auth-tab" data-toggle="tab" href="#auth" role="tab" aria-controls="auth"
                                  aria-selected="false">Print & Publishing Services</a>
                              </li>
                            <li class="nav-item">
                                <a class="nav-link" id="insurance-tab" data-toggle="tab" href="#insurance" role="tab" aria-controls="insurance"
                                  aria-selected="false">Accessibility Services</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" id="nbfc-tab" data-toggle="tab" href="#nbfc" role="tab" aria-controls="nbfc"
                                  aria-selected="false">Scanning and Imaging</a>
                              </li>


                              <li class="nav-item">
                                <a class="nav-link" id="website-tab" data-toggle="tab" href="#website" role="tab" aria-controls="website"
                                  aria-selected="false">Website development</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" id="uiux-tab" data-toggle="tab" href="#uiux" role="tab" aria-controls="uiux"
                                  aria-selected="false">UI/UX Support</a>
                              </li>
                              <li class="nav-item">
                                    <a class="nav-link" id="qat-tab" data-toggle="tab" href="#qat" role="tab" aria-controls="qat"
                                      aria-selected="false">Quality Assurance and Testing</a>
                                  </li>


                          </ul>
                          <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="ites" role="tabpanel" aria-labelledby="ites-tab">
                                        <h5>Data Entry and Data Processing</h5>
                                        <p>Whether you have tens of records or a few million records to digitize, Astute offers you excellent professional services and support, with its accurate data entry services.
                                        Astute is a leader in offering data entry outsourcing services since 2005 and has been supporting small to large companies globally.
                                        Experienced in offshore data entry company with well-trained, data entry experts, guaranteeing over 99% accuracy in data entry. With the help of our data entry team, our offshore services helping in achieving significant cost-savings effective and make data entry outsourcing affordable. We currently handle over 175 million documents a year.</p>
                                             
                                </div>
                            <div class="tab-pane fade" id="automobile" role="tabpanel" aria-labelledby="automobile-tab">
                                    <h5>Data Mining Services</h5>
                                    <p>Data mining is the process of analyzing data from a large range of sources and collating this information into useful business intelligence. The data which is gathered is examined to discover prevalent market trends, predict future prosperous opportunities, and assist with driving revenue and cutting costs.
                                    Our services possesses extensive data mining services experience and has the capability to add value to clients' operations from a range of varying industries.
                                    We summarize unsorted financial, marketing and other business information from hundreds of websites, B2B and B2C websites, online portals, networks, blogs and forums to deliver a compact knowledge base and opportunities for our clients to capitalize upon.</p>
                                               
            
            </div>
                            <div class="tab-pane fade" id="banking" role="tabpanel" aria-labelledby="banking-tab">
                                    <h5>Data/Content Enrichment</h5>
                                    <p>We are capable in enriching the eBook/HTML5 content by adding special features like interactive assessments, MathML equations,  read aloud,  embedding audio and video are developed by our skilled team. </p>
                                    <h5>eBooks with HTML5</h5>
                                    <p>Our team is well versed in development of different forms of eBooks(ePub v2.0/v3.0, Fixlayout/Reflowable ePub, KF8 and other formats) that rendered on different devices and platforms following the industry standards. We are capable of handling various forms of inputs(XML, Word, ePub, InDesign, web PDF and printed books).</p>
                                
                            </div>
                            <div class="tab-pane fade" id="housing" role="tabpanel" aria-labelledby="housing-tab">
                                    <h5>Content Authoring Platform</h5>
                                    <p>We have core a team skilled for content authoring on digital publishing platforms such as <b>Inkling Habitat, Bento, Smartbook Reflow, Anotate</b> and other LMS/CMS environment. Team works collaboratively along with team right from project start and participate in various stages like design development and review and content development for the product maintaining the specification standard that includes customized delightful interactivities. And publish to multiple platforms on a single click.</p>
                                   <p>Developing ebook with enhanced interactivity on publishing platform. Using cloud based technologies and supported with XML, HTML5 and CSS3 that reads on various platforms. The Inkling Habitat platform is designed for large teams of collaborators with sharing and collaboration tools. It also includes revision lists, with the option to revert a set of changes or push a series of revisions automatically to users' copies.</p>

                                   <ul>
                                       <li>Content ingestion into the cloud platform with both online/offline technologies</li>
                                       <li>Interactive widget creation, development and implementation with content</li>
                                       <li>Creating Courseware structure and integrate resources to chapter/lesson</li>
                                       <li>Adding metadata information/description to content, images and media</li>
                                       <li>Creating annotated eBook for different platform</li>
                                       <li>We have experts with ability to work on various school/scientific/engineering/medical book contents those are supported by MathML equations, creative arts and interactive animations</li>
                                       <li>Our core team comes with past working experiences in both digital and print products for Pre K-12, Higher Education and Professional content development as per specification and appling design according similar book</li>
                                   </ul>
                            </div>
                            <div class="tab-pane fade" id="auth" role="tabpanel" aria-labelledby="auth-tab">
                                <h5>Print & Publishing Services</h5>
                                <p>The print & publishing industry is broad, fragmented and highly competitive and is experiencing a period of significant evolution in all areas of both technology and strategy. Recognising the advanced technologies has, like never before, radically changed the traditional printing and publishing industry. Migrating towards digital path has provided rise in new medium of revenue, market position, customer reliability and satisfaction.</p>
                                <p><b>Services includes:</b></p>
                                <ul>
                                    <li>Development of content and updation</li>
                                    <li>Copyediting</li>
                                    <li>Project Management</li>
                                    <li>Involving SME as required</li>
                                    <li>Content Management System</li>
                                </ul>
                               
                        </div>
                            <div class="tab-pane fade" id="insurance" role="tabpanel" aria-labelledby="insurance-tab">
                                
                                    <h5>Accessibility Services</h5>
                                    <p>Accessibility is the ability of a website, mobile app, or digital file to be readily navigated and interpreted by a wide range of users, including those who have visual, auditory, sensory and mental disabilities. Digital accessible products that follow universal design features easily adapt to the requirements or preferences of different users and can be accessed in more than one way. For example digital products like video streaming content as a best practices provides captions for hearing impaired people and websites that follow best practices include graphics/image alt text tags.</p>
                                    <p><b>Our accessibility development process of PDF, PPT, HTML, ePub/eBook, MS-Word and MS-Excel files we follow below standards:
                                        </b></p>
                                        
                                        <ul class="list-no-style">
                                            <li><p>Compliance with Web Content Accessibility Guidelines (WCAG)
                                                </p></li>
                                            <li><p>Color contrast checking</p></li>
                                            <li><p>Adding audio and video files with close-caption content
                                                    
                                                    </p></li>
                                            <li><p>Handling images with alt text</p></li>
                                            <li><p>Following proper content sequence
                                                    </p></li>
                                            <li><p>Following semantic tagging and structure
                                                </p></li>
                                            <li><p>Appropriate linking format
                                                </p></li>
                                            <li><p>Using MathML content with proper description
                                                    </p></li>
                                            <li><p>Alt text creation for image
                                                </p></li>
                                            <li><p>Accessibility QA/testing for files for WCAG
                                                </p></li>
                                        </ul>
                               </div>
            
                                <div class="tab-pane fade" id="nbfc" role="tabpanel" aria-labelledby="nbfc-tab"><div class="container-fluid">
                                        <h5>Scanning and Imaging</h5>
                                        <p>Documents of different size and types are scanned with our hybrid scanners. Large number of documents can be scanned and digitized. We have the capabilities to scan A0 to A4 size documents. We scan and digitize documents using the latest technology thereby ensuring that the print and scan quality is the best you can get.</p>
                                        <h5>Optical Character Recognition (OCR) Services</h5>
                <p>Data has the power to drive businesses to certain success. However, this data needs to be easily retrievable in a digital format for maximized value to be generated from it. In the case of scanned documents with printed, typewritten or handwritten text, retyping data from the document or its scan into a computer to make it editable is an extremely time-consuming task, which can distract your employees from focusing on core competencies. We offers Optical Character Recognition (OCR) services that can converted into editable data format from a scanned document, thereby improving your workflow and productivity.
                OCR is a technology through which various kinds of pictorial and textual data can be read, analyzed and organized into an electronic format. It is usually used in tandem with Intelligent Character Recognition (ICR) and Magnetic Ink Character Recognition (MICR), and plays an important role in data management of scanned documents.
                We take care of all of your OCR scanning and data conversion needs. Using the latest technology that optimizes accuracy and time ensuring that an immense number of documents can be converted speedily. The technology is capable of differentiating between page layouts, symbols, languages and font styles.
                Astute incorporates best-in-class technology to automate the data entry process, by implementing OCR and ICR technologies as part of its data entry solutions. We currently handle over 175 million documents a year.</p>
                     
                                    </div>
                                </div>
            
                                <div class="tab-pane fade" id="website" role="tabpanel" aria-labelledby="website-tab">
                                   
                                        <h5>Website development</h5>
                                        <p>A web portal is a website that systematically incorporates information from various sources. Usually, to display information (a portal), each source of information gets its dedicated area on the page. The user can often set up which ones to display.</p>
                                    
                                </div>
                                
                                <div class="tab-pane fade" id="uiux" role="tabpanel" aria-labelledby="uiux-tab">
                                   
                                        <h5>UI/UX Support</h5>
                <p>UI/UX and Web development systems do not come easily to cope with-changing technologies and techniques. With our sole focus on design, usability, and security, we place high focus on delivering web deliveries. We analyse web orientation patterns and designs to develop and implement requirements for web design.</p>

                <p>Our UI/UX support services covers distinguished segments:</p>

              <ul>
                  <li>We designing webpages that support across device and platform</li>
                  <li>Supported by HTML5/CSS3 based programing with UI experts</li>
                  <li>Integration of customized design requirements as per the client</li>
                  <li>Providing responsive design to render on every devices and browsers</li>
                  <li>Search engine Optimization(SEO)</li>
                  <li>WebPage performance optimization by adjusting the UI/UX techniques</li>
                
                </ul>      
                    
                    
                                </div>
                                <div class="tab-pane fade" id="qat" role="tabpanel" aria-labelledby="qat-tab">
                                   
                                        <h5>Quality Assurance and Testing</h5>
                                        <p>We have dedicated quality assurance team who controls the quality of content/products, and testing team that supports every verticals. Our well qualified experts with years of experience and up-to-date with changing industry’s demands. </p>
                                        
                                        <p>Provide data accuracy and  quality of great importance. We maintain and regularise standards at the initial and at the final stage of the work. The data goes through rigorous quality checks before being delivered to the client. We work hard to achieve this highest degree of accuracy using a variety of methods and tools depending on project specifications and client requirements.</p>
                                        
                                </div>
                          </div>
                         
                          
            
            
            
                          
                    </div>
                </div>

















                
                
                
                
                
                
                    
                
                
                 
                
                 
                
        </div>
    </div>
</div>