<div class="container">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a id="industry"></a>
                        <div class="container">
                                <div class="row">
                                    <div class="col-6"> <img src="../../assets/images/digital_publishing_publishing.jpg" alt=""> </div>
                                    <div class="col-6 max-height">
                       <div> <h3>Publishing</h3>
                        <p>The print & publishing industry is wide-ranging, fragmented and highly competitive and is undergoing a time of significant technological and strategic transformation in all fields. Recognition of advanced technologies has changed the mainstream printing and publishing industry dramatically, as never before. Migration to the digital route has given rise to new sales, market position, quality and satisfaction of the consumer.</p></div>
                 </div>
                    </div>
                </div>
            </div>  </div>
            
    </div>
    <div class="row">
        <div class="col">
                <a id="information"></a>
            <app-infotech></app-infotech></div>
               
    </div>
    <div class="row">
        <div class="col">
                <a id="banking"></a>
           <app-bankfinanceservice></app-bankfinanceservice></div>
               
    </div>
    <div class="row">
        <div class="col">
                <a id="education"></a>
            <app-eduservice></app-eduservice></div>
                
    </div>
</div>
